build/
*.log
*.spvasm
*.spv
*.o
*.a
*.so
*.so.*
*.before-*
*.backup
*.bak
test1_device_only
test2_cmd_pool
test3_renderpass
test4_draw
test5a_compute_buffer
test5b_compute_dispatch
minimal_graphics_test
termux-box/
